.prose {
  font-size: 20px; /* Increase text size */
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}



section#section-resume-biography-3 .avatar-wrapper {
  width: 250px !important;
  height: 250px !important;
}

section#section-resume-biography-3 .avatar-wrapper img {
  width: 250px !important;
  height: 250px !important;
  object-fit: cover;
}

img {
  width: 100%;    /* 宽度自适应容器 */
  height: auto;   /* 高度按比例自动调整 */
  max-width: 800px; /* 最大宽度限制（根据实际需求调整） */
}


/* If the theme already provides a class: */
.institution {
  color: #FF5733; /* pick any color */
  font-weight: bold;
}

/* If you introduced your own class in the Markdown: */
.myInstitution {
  color: rebeccapurple; 
}



